<div style="margin: 0 auto; width: 700px; text-align: center">
<h1> WELCOME TO IMAGE IDENTIFIER!!</h1>
<br>
<h2> An App for the Visually Impaired </h2>
<br>
<h3> Log In </h3>
<br>
<%= form_tag sessions_path do %>

<%= text_field_tag :name, nil, placeholder: "Name" %>
<br>

<%= password_field_tag :password, nil, placeholder: "Password"  %>
<br> <br>
<%= submit_tag 'Log In' %>

<% end %>
</div>
