<h1> Pictures Index </h1>

<!-- Photo grid -->

<% @pictures.each do |picture| %>
<%= link_to image_tag("#{picture.attachment}"), user_picture_path(@user, picture) %>
<% end %>
<br>
<p> <%= link_to "Upload New Picture", new_user_picture_path %> </p>
<br>
<p> <%= link_to "User Index", users_path %> </p>
