<h1> Pictures Index </h1>

<% @pictures.each do |picture| %>
<p> <%= link_to picture.name, user_picture_path(@user, picture) %> </p>
<p> <%= image_tag "#{picture.attachment}" %> </p>
<p> <%#= image_tag "#{picture.attachment}", :type => :upload, :width => 400, :height => 450, :crop => :fill %> </p>


<% end %>
<br>
<p> <%= link_to "Upload New Picture", new_user_picture_path %> </p>
<br>
<p> <%= link_to "User Index", users_path %> </p>
